{{ "component-breadcrumb.css" |  asset_url | stylesheet_tag }}

{%- unless template == 'index' or template == '404' or template == 'cart' or template == 'list-collections'  -%}

  <!-- Metafield Value -->
  {%- assign nested_collection = collection.metafields.custom.nested_collection_for_breadcrumb -%}

  <div class="breadcrumbs-container page-width">
    <nav class="breadcrumbs hsm" role="navigation" aria-label="breadcrumbs">
      <ol class="breadcrumbs__list">

        {%- if settings.show_home_breadcrumb -%}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ routes.root_url }}">
              {{ settings.home_breadcrumb_text | strip_html }}
            </a>
            <span class="svg-wrapper">
              {{- 'icon-chevron-right.svg' | inline_asset_content -}}
            </span>
          </li>
        {%- endif -%}

        {% assign template_name = template | split: '.' | first %}

        {%- case template_name -%}
          {%- when 'page' -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
            </li>
          {%- when 'product' -%}

            <!-- Simple Product Breadcrumb -->
            {% if settings.nested_breadcrumb_option == 'show_only_nested_collection' %}
              {% if collection %}
                {% if nested_collection %}
                  {% for collection_list in nested_collection.value %}
                    <li class="breadcrumbs__item">
                      <a class="breadcrumbs__link" href="{{ collection_list.url }}"> {{ collection_list.title }}</a>
                      <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>
                    </li>
                  {% endfor %}
                {% endif %}
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
                  <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>
                </li>
              {% endif %}

            {% else if settings.nested_breadcrumb_option == 'show_nested_product_collection_breadcrumb' %}
              <!-- Nested Product Breadcrumb -->
              {% if collection.metafields.custom.nested_collection_for_breadcrumb %}  
                {% for collection_list in collection.metafields.custom.nested_collection_for_breadcrumb.value %}  
                  <li class="breadcrumbs__item">  
                  <a class="breadcrumbs__link" href="{{ collection_list.url }}"> {{ collection_list.title }}</a>  
                  <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>  
                  </li>  
                {% endfor %}
                <!-- Immediate Parent Collection of Product -->
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
                  <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>
                </li>
              {% else %}
                <li class="breadcrumbs__item">  

                <!-- Solves the multiple collection issue but fails to load on Best Seller Section  -->
                {% comment %} <a class="breadcrumbs__link" href="{{ collection.url }}"> {{ collection.title }}</a>  
                <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>   {% endcomment %}

                <!-- Has Multiple Collections in Product Issue -->
                {% comment %} {% for collection in product.collections %}
                    {% if collection.metafields.custom.nested_collection_for_breadcrumb %}  
                      {% for collection_list in collection.metafields.custom.nested_collection_for_breadcrumb.value %}  
                       
                        <li class="breadcrumbs__item">  
                        <a class="breadcrumbs__link" href="{{ collection_list.url }}"> {{ collection_list.title }}</a>  
                        <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>  
                        </li>  
                      {% endfor %}

                      <!-- Immediate Parent Collection of Product -->
                      <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
                        <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>
                      </li>
                    {% endif %}

                {% endfor %} {% endcomment %}

                {% if collection %}
                  {% if collection.metafields.custom.nested_collection_for_breadcrumb %}  
                    {% for collection_list in collection.metafields.custom.nested_collection_for_breadcrumb.value %}  
                      
                      <li class="breadcrumbs__item">  
                      <a class="breadcrumbs__link" href="{{ collection_list.url }}"> {{ collection_list.title }}</a>  
                      <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>  
                      </li>  
                    {% endfor %}

                    <!-- Immediate Parent Collection of Product -->
                    {% comment %}  <li class="breadcrumbs__item">
                      <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
                      <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>
                    </li> {% endcomment %}
                  {% endif %}

                  <!-- Immediate Parent Collection of Product -->
                  <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
                    <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>
                  </li>
                  {% else %}
                    Test else
                {% endif %}

                </li>  
              {% endif %}
              
              <!-- Old Code -->
              {% comment %} {% for collection in product.collections %}  
                {% if collection.metafields.custom.nested_collection_for_breadcrumb %}  
                  {% for collection_list in collection.metafields.custom.nested_collection_for_breadcrumb.value %}  
                    <li class="breadcrumbs__item">  
                    <a class="breadcrumbs__link" href="{{ collection_list.url }}"> {{ collection_list.title }}</a>  
                    <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>  
                    </li>  
                  {% endfor %}

                  <!-- Immediate Parent Collection of Product -->
                  <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
                    <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>
                  </li>
                {% else %}
                  <!-- Immediate Parent Collection of Product -->
                  <!-- <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="{{ collection.url }}"> {{ collection.title }}</a>
                    <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>
                  </li>
                {% endif %} -->
              {% endfor %} {% endcomment %}
            {% endif %}

            <!-- Product Title -->
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
            </li>

          {%- when 'collection' and collection.handle -%}
            {% if nested_collection %}
              {% for collection_list in nested_collection.value %}
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="{{ collection_list.url }}">{{ collection_list.title }}</a>
                  <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>
                </li>
              {% endfor %}
            {% endif %}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
            </li>

          {%- when 'blog' -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ blog.url }}">{{ blog.title | escape }}</a>
            </li>

          {%- when 'article' -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ blog.url }}">{{ blog.title }}</a>
              <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
            </li>

          {%- when 'search' -%}
            <li class="breadcrumbs__item">
              {% if search.performed %}
                <a class="breadcrumbs__link" href="{{ routes.search_url }}">{{- 'templates.search.title' | t -}}</a>
              {%- else -%}
                <a class="breadcrumbs__link" href="{{ routes.search_url }}">{{- 'general.search.search' | t -}}</a>
              {%- endif %}
            </li>
            
          {%- else -%}
            {%- assign request_path = request.path -%}
            {%- for policy in shop.policies %}
              {% if request_path == policy.url %}
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="{{ policy.url }}">{{ policy.title }}</a>
                </li>
              {% endif %}
            {%- endfor %}
        {%- endcase -%}
      </ol>
    </nav>
  </div>
{%- endunless -%}

