{% assign breadcrumb_enabled = true %}

{%- if breadcrumb_enabled -%}
  {%- unless template == 'index' or template == '404' -%}
    {%- assign nested_collection = collection.metafields.custom.nested_collection_for_breadcrumb -%}
    <div class="breadcrumbs-container page-width">
      <nav class="breadcrumbs hsm" role="navigation" aria-label="breadcrumbs">
        <ol class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">Home</a>
            <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>
          </li>
          {% assign template_name = template | split: '.' | first %}
          {%- case template_name -%}
            {%- when 'page' -%}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
              </li>
            {%- when 'product' -%}
              {% comment %} {% if collection %}
                {% if nested_collection %}
                  {% for collection_list in nested_collection.value %}
                    <li class="breadcrumbs__item">
                      <a class="breadcrumbs__link" href="{{ collection_list.url }}">Meta P {{ collection_list.title }}</a>
                      <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>
                    </li>
                  {% endfor %}
                {% endif %}
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
                  <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>
                </li>
              {% endif %} {% endcomment %}
              {% for collection in product.collections %}  
                {% if collection.metafields.custom.nested_collection_for_breadcrumb %}  
                  {% for collection_list in collection.metafields.custom.nested_collection_for_breadcrumb.value %}  
                    <li class="breadcrumbs__item">  
                    <a class="breadcrumbs__link" href="{{ collection_list.url }}">Meta {{ collection_list.title }}</a>  
                    <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>  
                    </li>  
                  {% endfor %}  
                {% endif %}
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
                  <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>
                </li>
              {% endfor %}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ product.url }}" aria-current="page">T {{ product.title }}</a>
              </li>
            {%- when 'list-collections' -%}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ routes.collections_url }}">{{ 'sections.collection_list.collections' | t }}</a>
              </li>
            {%- when 'collection' and collection.handle -%}
              {% if nested_collection %}
                {% for collection_list in nested_collection.value %}
                  <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="{{ collection_list.url }}">Meta {{ collection_list.title }}</a>
                    <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>
                  </li>
                {% endfor %}
              {% endif %}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ collection.url }}" aria-current="page">Last {{ collection.title }}</a>
              </li>
            {%- when 'blog' -%}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ blog.url }}">{{ blog.title | escape }}</a>
              </li>
            {%- when 'article' -%}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ blog.url }}">{{ blog.title }}</a>
                <span class="svg-wrapper">{{- 'icon-chevron-right.svg' | inline_asset_content -}}</span>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
              </li>
            {%- when 'cart' -%}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ routes.cart_url }}">{{ 'sections.cart.title' | t }}</a>
              </li>
            {%- when 'search' -%}
              <li class="breadcrumbs__item">
                {% if search.performed %}
                  <a class="breadcrumbs__link" href="{{ routes.search_url }}">{{- 'templates.search.title' | t -}}</a>
                {%- else -%}
                  <a class="breadcrumbs__link" href="{{ routes.search_url }}">{{- 'general.search.search' | t -}}</a>
                {%- endif %}
              </li>
            {%- else -%}
              {%- assign request_path = request.path -%}
              {%- for policy in shop.policies %}
                {% if request_path == policy.url %}
                  <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="{{ policy.url }}">{{ policy.title }}</a>
                  </li>
                {% endif %}
              {%- endfor %}
          {%- endcase -%}
        </ol>
      </nav>
    </div>
  {%- endunless -%}
{%- endif -%}
