{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu'
    menu_links: linklists.collections-list.links (optional)
    color_scheme: color_scheme (optional)
  %}
{% endcomment %}

{% assign header_menu_links = '' %}

{% if menu_links != blank %}
      {% assign header_menu_links = menu_links %}
{% else %}
    {% assign header_menu_links = section.settings.menu.links %}
{% endif %}



<nav class="header__inline-menu {% if color_scheme %} color-{{ color_scheme }} {% endif %}">
  <ul class="list-menu list-menu--inline" role="list">
    
    {%- for link in header_menu_links -%}
      
      {%- liquid
        assign link_handle = link.handle
        assign custom_menu = false
        
        for block in section.blocks
          if block.type == 'navigation'
            assign block_title_handle = block.settings.title | handle
            if link_handle == block_title_handle
              assign custom_menu = true
              assign text_color = block.settings.text_color
              assign background_color = block.settings.background_color
              assign font_weight = block.settings.font_weight
              assign border_radius  = block.settings.border_radius 
              assign padding_top_bottom = block.settings.padding_top_bottom
              assign padding_left_right = block.settings.padding_left_right
            endif
          endif
        endfor
      -%}      
      
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset
                {%- if link.current and custom_menu == false %}
                  header__active-menu-item
                {% elsif link.current and custom_menu == true %}
                  header__active-menu-item-custom
                {% endif %}"
                {% if custom_menu %} style="color: {{ text_color }}; background-color: {{ background_color }}; font-weight: {{ font_weight }}; border-radius : {{ border_radius }}px; padding: {{ padding_top_bottom }}px {{ padding_left_right }}px" {% endif %}
              >
                <span>
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                {% assign view_all_type = settings.sticky_collection_menu_view_all_type %}
                {% assign translation_key = 'sections.sticky_collection.' | append: view_all_type %}

                <a href="{{ link.url }}" class="mega-menu__collection-title full-unstyled-link mega-menu__link text-uppercase font-semibold
                {%- if link.current %} mega-menu__link--active {% endif %}
                ">
                  <span>
                    {{ translation_key | t: collection_name: link.title }}
                  </span>
                </a>
                
                <ul
                  class="mega-menu__list page-width {% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        <span>
                           {{ childlink.title | escape }}
                        </span>
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link mega-menu__grandchild-link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                <span>
                                  {{ grandchildlink.title | escape }}
                                </span>
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset
              {%- if link.current and custom_menu == false %}
                header__active-menu-item
              {% elsif link.current and custom_menu == true %}
                header__active-menu-item-custom
              {% endif %}"
            {% if link.current %}
              aria-current="page"
            {% endif %}
            {% if custom_menu %} style="color: {{ text_color }}; background-color: {{ background_color }}; font-weight: {{ font_weight }}; border-radius : {{ border_radius }}px; padding: {{ padding_top_bottom }}px {{ padding_left_right }}px" {% endif %}
          >
            <span>
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>


