{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {{- 'icon-hamburger.svg' | inline_asset_content -}}
        {{- 'icon-close.svg' | inline_asset_content -}}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              <!-- The Bundle Offer Menu Link -->

              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
        
                    {% if link.object.featured_image %}
                      <!-- The below creates img tag inside other -->
                      {% comment %} {% assign link_image_url = link.object.featured_image |  image_url: width: 450 |  image_tag: width:100 %} {% endcomment %}
                      {% assign link_image_url = link.object.featured_image |  img_url: 'master' %}
                    {% endif %}

                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <!-- This is Level 1 Menu Title -->
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {% comment %} <div class="parent-menu-item"> {% endcomment %}

                          {% if link_image_url != blank %}
                            <img src="{{ link_image_url }}" alt="{{ link.title }}" class="menu-link-image" />
                          {% endif %}
  
                          <div class="parent-menu-item-info">
                            <h2 class="h2">
                              {{ link.title | escape }}
                            </h2>

                            {% if link.object.description %}
                              <p class="text-body--extra-small">{{ link.object.description |  strip_html }}</p>
                            {% endif %}
                          </div>
  
                          <span class="svg-wrapper">
                            {{- 'icon-chevron-right.svg' | inline_asset_content -}}
                          </span>
  
                          {% comment %} Icon Caret Not Visible {% endcomment %} 
                          <span class="svg-wrapper">
                            {{- 'icon-caret.svg' | inline_asset_content -}}
                          </span>
                        {% comment %} </div> {% endcomment %}
                      </summary>
                      <!-- This is Level 1 Menu Content -->
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <!-- This is Level 1 Menu Backlink Title -->
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            <span class="svg-wrapper">
                              {{- 'icon-arrow.svg' | inline_asset_content -}}
                            </span>
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu menu-list-parent" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <!-- This is Level 2 Menu Title (Childlink) -->
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset h2 {% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <!-- This is Level 2 Menu Title (Childlink) with nested link -->
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset h2 child-link-menu-title"
                                    >
                                      {{ childlink.title | escape }}

                                      <span class="svg-wrapper svg-wrapper-child-link">
                                        {{- 'icon-chevron-right.svg' | inline_asset_content -}}
                                      </span>

                                      {% comment %} Icon Caret Not Visible {% endcomment %}                                      
                                      <span class="svg-wrapper">
                                        {{- 'icon-caret.svg' | inline_asset_content -}}
                                      </span>
                                    </summary>
                                    <!-- This is Level 2 Menu (Childlink) Content -->
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                    >
                                      <!-- This is Level 2 Menu Backlink Title (Childlink) -->
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        <span class="svg-wrapper">
                                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                                        </span>
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <!-- This is Level 3 Menu Title (Grandchild link) -->
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %} hxs grand-child-link-menu-title"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <!-- If there are no links in the Menu Title -->
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>

          <!-- There was no need of the below code, so removed it -->
          <div class="menu-drawer__utility-links">

          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
