{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      
      {%- liquid
        assign link_handle = link.handle
        assign custom_menu = false
        
        for block in section.blocks
          if block.type == 'navigation'
            assign block_title_handle = block.settings.title | handle
            if link_handle == block_title_handle
              assign custom_menu = true
              assign text_color = block.settings.text_color
              assign background_color = block.settings.background_color
              assign font_weight = block.settings.font_weight
              assign border_radius  = block.settings.border_radius 
              assign padding_top_bottom = block.settings.padding_top_bottom
              assign padding_left_right = block.settings.padding_left_right
            endif
          endif
        endfor
      -%}      
      
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
                {% if custom_menu %} style="color: {{ text_color }}; background-color: {{ background_color }}; font-weight: {{ font_weight }}; border-radius : {{ border_radius }}px; padding: {{ padding_top_bottom }}px {{ padding_left_right }}px" {% endif %}
              >
                <span
                  {%- if link.current and custom_menu == false %}
                    class="header__active-menu-item"
                  {% elsif link.current and custom_menu == true %}
                    class="header__active-menu-item-custom"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        <span>
                           {{ childlink.title | escape }}
                        </span>
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link mega-menu__grandchild-link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                <span>
                                  {{ grandchildlink.title | escape }}
                                </span>
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
            {% if custom_menu %} style="color: {{ text_color }}; background-color: {{ background_color }}; font-weight: {{ font_weight }}; border-radius : {{ border_radius }}px; padding: {{ padding_top_bottom }}px {{ padding_left_right }}px" {% endif %}
          >
            <span
              {%- if link.current and custom_menu == false %}
                class="header__active-menu-item"
              {% elsif link.current and custom_menu == true %}
                class="header__active-menu-item-custom"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
