{% comment %}
  Renders a list of product's price (regular, sale)

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - placeholder: {Boolean} Renders a placeholder price (optional)
  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
  - price_class: {String} Adds a price class to the price element (optional)
  - show_compare_at_price: {Boolean} Renders the compare at price if the product matches the condition (optional)

  Usage:
  {% render 'price', product: product %}
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  elsif placeholder
    assign target = null
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign price_min = product.price_min
  assign price_max = product.price_max
  assign available = target.available | default: false
  assign money_price = price | money
  assign money_price_min = price_min | money
  assign money_price_max = price_max | money
  if settings.currency_code_enabled
    assign money_price = price | money
    assign money_price_min = price_min | money_with_currency
    assign money_price_max = price_max | money_with_currency
  endif

  if target == product and product.price_varies and show_from_word
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif

-%}

{%- unless target == null and placeholder == null -%}
  <div class="
      price
      {%- if price_class %} {{ price_class }}{% endif -%}
      {%- if available == false %} price--sold-out{% endif -%}
      {%- if compare_at_price > price and product.quantity_price_breaks_configured? != true and show_strikethrough_price %} price--on-sale {% endif -%}
      {%- if compare_at_price > price and product.quantity_price_breaks_configured? %} volume-pricing--sale-badge{% endif -%}
      {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}
      {%- if show_badges %} price--show-badge{% endif -%}
      {%- if compare_at_price > price %} price--on-sale-custom-color {% endif -%}"
      >
    <div class="price__container">
      {%- comment -%}
        Explanation of description list:
        - div.price__regular: Displayed when there are no variants on sale
        - div.price__sale: Displayed when a variant is a sale
      {%- endcomment -%}

      {% comment %} No Promo Product Price {% endcomment %}
      <div class="price__regular">
        {%- if product.quantity_price_breaks_configured? -%}
          {%- if show_compare_at_price and compare_at_price -%}
            {%- unless product.price_varies == false and product.compare_at_price_varies %}
              <span class="visually-hidden visually-hidden--inline">
                {{- 'products.product.price.regular_price' | t -}}
              </span>
              <span>
                <s class="price-item price-item--regular variant-item__old-price">
                  {{ compare_at_price | money }}
                </s>
              </span>
            {%- endunless -%}
          {%- endif -%}
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
          <span class="price-item price-item--regular">
            {{-
              'products.product.volume_pricing.price_range' | t: minimum: money_price_min, maximum: money_price_max
            -}}
          </span>
        {%- else -%}
          {% comment %} No Promo Product Price {% endcomment %}
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
          <span class="price-item price-item--regular item-current-price {{ current_price_font_weight }}">
            {{ money_price }}
          </span>
        {%- endif -%}
      </div>

      {% comment %}  
        {{ product.price_varies }}
        {{ product.compare_at_price_varies }}
        {{ compare_at_price }} 
      {% endcomment %}      
     
      {% comment %} Promo Product Price {% endcomment %}
      <div class="price__sale" {%- if compare_at_price > price and product.quantity_price_breaks_configured? != true and show_strikethrough_price %} style=" flex-direction: {{ price_horizontal_alignment }}; align-items: {{ price_vertical_alignment }}; gap: {{ price_gap }}px;"  {% endif -%}>
      {%- unless product.price_varies == false and product.compare_at_price_varies %}
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
          <span class="price-item price-item--sale price-item--last item-current-price {{ current_price_font_weight }}">
            {{ money_price }}
          </span>
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
          <span class="original-price-div">
            <s class="price-item price-item--regular {{ original_price_size }}">
              {{ compare_at_price | money }}
            </s>
          </span>
        {%- endunless -%}
        </div>

      {% if show_tax_price %}
        {% assign tax_price = price | times: 0.21  %}
        <span class="price_without_tax {{ tax_price_font_size }} {{ tax_price_font_weight }} {% if tax_text_uppercase %} text-uppercase {% endif %}" style="margin-left: {{ tax_price_margin_left  }}px;">

          <span style="flex: none;">
            {{ price |  minus: tax_price | money }}
          </span>

          <p class="tax_excluded-text no-default-spacing {{ tax_price_font_weight }} {{ tax_text_font_size }}">
            {{ 'products.product.taxes_excluded' | t }}
          </p>
        </span>
      {% endif %}

      <small class="unit-price caption{% if product.selected_or_first_available_variant.unit_price_measurement == nil %} hidden{% endif %}">
        <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
        <span class="price-item price-item--last">
          <span>{{- product.selected_or_first_available_variant.unit_price | money -}}</span>
          <span>/</span>
          <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
          <span>
            {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
              {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
            {%- endif -%}
            {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
          </span>
        </span>
      </small>
    </div>

    {%- if show_badges -%}
      <span class="badge price__badge-sale color-{{ settings.sale_badge_color_scheme }}">
        {{ 'products.product.on_sale' | t }}
      </span>

      <span class="badge price__badge-sold-out color-{{ settings.sold_out_badge_color_scheme }}">
        {{ 'products.product.sold_out' | t }}
      </span>
    {%- endif -%}
  </div>
{% endunless %}