{% style %}

    {% if settings.sticky_collection_menu_shadow %}
        .sticky-collection-menu{
            --sticky-collection-menu-color-shadow: {{ settings.sticky_collection_menu_shadow_color }};
            --sticky-collection-menu-shadow-opacity: {{ settings.sticky_collection_menu_shadow_opacity }};
            --sticky-collection-menu-shadow-horizontal-offset: {{ settings.sticky_collection_menu_shadow_horizontal_offset }}px;
            --sticky-collection-menu-shadow-vertical-offset: {{ settings.sticky_collection_menu_shadow_vertical_offset }}px;
            --sticky-collection-menu-shadow-blur-radius: {{ settings.sticky_collection_menu_shadow_blur_radius }}px;
            /* box-shadow: 0 0 6px rgba(0,0,0,0.3); */
            /* Line Black */
            /* box-shadow: 0 0 3px 1px black; */
            box-shadow: var(--sticky-collection-menu-shadow-horizontal-offset) var(--sticky-collection-menu-shadow-vertical-offset) var(--sticky-collection-menu-shadow-blur-radius) rgba(0,0,0,var(--sticky-collection-menu-shadow-opacity));
        }
    {% endif %}


    .sticky-collection-menu .header__menu-item{
        font-size: {{ settings.sticky_collection_header_menu_font_size }}px;
        font-weight: {{ settings.sticky_collection_header_menu_font_weight }};
        text-align: center;
    }

    {% if settings.sticky_collection_menu_opening_type == 'hover' %}
        /* The Icon Caret for the Mega Menu's Nav Item */
        .sticky-collection-menu .header__menu-item .icon-caret{
            display: none;
        }

        .sticky-collection-menu summary.list-menu__item{
            padding-right: 0rem;
        }
    {% endif %}    

    {% if settings.sticky_collection_menu_overflow_behaviour == 'no_text_wrap' %}
        .sticky-collection-menu .list-menu--inline li {
            /* flex-shrink: 0; */
            white-space: nowrap;
        }
    {% elsif settings.sticky_collection_menu_overflow_behaviour == 'wrap_nav_item_to_fit_in_container' %}
        .sticky-collection-menu .list-menu.list-menu--inline{
            flex-wrap: wrap;
        }
    {% endif %}  

{% endstyle %}

<div class="sticky-collection-menu">
    {% render 'header-mega-menu', 
        menu_links: settings.sticky_collection_menu.links,
        color_scheme: settings.sticky_collection_color_scheme
    %}
</div>

{% if settings.sticky_collection_menu_opening_type == 'hover' %}
    <script>

        const detailsElements = document.querySelectorAll('.mega-menu');

        detailsElements.forEach((details) => {
            let timeoutId;
            const summary = details.querySelector('summary');

            // Open on hover
            details.addEventListener('mouseenter', () => {
                clearTimeout(timeoutId);
                details.setAttribute('open', '');
            });

            // Close when the mouse leaves the entire dropdown (not just the summary)
            details.addEventListener('mouseleave', () => {
                timeoutId = setTimeout(() => {
                    details.removeAttribute('open');
                }, 200);
            });
        });



    </script>
{% endif %}