{{ 'section-description-content.css'  | asset_url | stylesheet_tag }}

{% style %}

    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
    
{% endstyle %}

{% if section.settings.color_text %} {% endif %}

<div class="section-{{ section.id }}-padding page-width description-content">

    {%- if section.settings.heading != blank -%}
        <h2 class="unclickable-link {{ section.settings.heading_size }} {% if section.settings.underline_text %}  text-link-underline {% endif %} {% if section.settings.color_text %} text-link-color {% endif %}">
            {{ section.settings.heading }}
        </h2>
    {%- endif -%}

    {% if section.settings.sub_heading != blank %}
        <div class="font-regular {{ section.settings.sub_heading_size }} {% if section.settings.underline_text %}  text-link-underline {% endif %} {% if section.settings.color_text %} text-link-color {% endif %}">
            {{ section.settings.sub_heading }}
        </div>
    {% endif %}

    {% if section.settings.description != blank %}
        <div class="section__description font-regular {{ section.settings.description_size }} {% if section.settings.underline_text %}  text-link-underline {% endif %} {% if section.settings.color_text %} text-link-color {% endif %}">
            {{ section.settings.description }}
        </div>
    {% endif %}
</div>

{% schema %}
    {
        "name": "Description Content",
        "settings": [
            {
                "type": "checkbox",
                "id": "underline_text",
                "label": "Underline Text",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "color_text",
                "label": "Color Text",
                "default": false
            },
            {
                "type": "richtext",
                "id": "heading",
                "label": "Heading",
                "default": "<p>Heading</p>"
            },
            {
                "type": "select",
                "id": "heading_size",
                "options": [
                    {
                        "value": "hxsm",
                        "label": "Extra Small"
                    },
                    {
                        "value": "h2",
                        "label": "t:sections.all.heading_size.options__1.label"
                    },
                    {
                        "value": "hsm-md",
                        "label":"Small to Medium"
                    },
                    {
                        "value": "h1",
                        "label": "t:sections.all.heading_size.options__2.label"
                    },
                    {
                        "value": "h0",
                        "label": "t:sections.all.heading_size.options__3.label"
                    },
                    {
                        "value": "hxl",
                        "label": "t:sections.all.heading_size.options__4.label"
                    },
                    {
                        "value": "hxxl",
                        "label": "t:sections.all.heading_size.options__5.label"
                    }
                ],
                "default": "h1",
                "label": "t:sections.all.heading_size.label"
            },
            {
                "type": "richtext",
                "id": "sub_heading",
                "default": "<p>Sub Heading</p>",
                "label": "Sub Heading"
            },
            {
                "type": "select",
                "id": "sub_heading_size",
                "options": [
                    {
                        "value": "text-body--small",
                        "label": "Small"
                    },
                    {
                        "value": "text-body--extra-small",
                        "label": "Extra Small"
                    },
                    {
                        "value": "text-body--extra-extra-small",
                        "label": "Extra Extra Small"
                    },
                    {
                        "value": "text-body--small-3",
                        "label": "Regular"
                    }
                ],
                "default": "text-body--small",
                "label": "Sub Heading Size"
            },
            {
                "type": "richtext",
                "id": "description",
                "label": "Description",
                "default": "<p>Enter your description here.</p>"
            },
            {
                "type": "select",
                "id": "description_size",
                "options": [
                    {
                        "value": "text-body--small",
                        "label": "Small"
                    },
                    {
                        "value": "text-body--extra-small",
                        "label": "Extra Small"
                    },
                    {
                        "value": "text-body--extra-extra-small",
                        "label": "Extra Extra Small"
                    },
                    {
                        "value": "text-body--small-3",
                        "label": "Regular"
                    }
                ],
                "default": "text-body--small-3",
                "label": "Description Size"
            },
            {
                "type": "header",
                "content": "Section Style Settings"
            },
            {
                "type": "range",
                "id": "top_padding",
                "label": "Top Padding",
                "min": 0,
                "max": 100,
                "step": 4,
                "default": 0
            },
            {
                "type": "range",
                "id": "bottom_padding",
                "label": "Bottom Padding",
                "min": 0,
                "max": 100,
                "step": 4,
                "default": 0
            }
        ],
        "presets": [
            {
                "name": "Description Content"
            }
        ]
    }
{% endschema %}