{{ 'section-description-content.css'  | asset_url | stylesheet_tag }}

{% style %}

    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

      .section-{{ section.id }}.description-content {
        gap: {{ section.settings.gap_between_items_on_mobile }}rem;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        }

        .section-{{ section.id }}.description-content {
            gap: {{ section.settings.gap_between_items_on_desktop }}rem;
        }
    }



    
{% endstyle %}

<div class="section-{{ section.id }} section-{{ section.id }}-padding page-width description-content">

    {%- if section.settings.heading != blank -%}
        <h2 class="unclickable-link {{ section.settings.heading_size }} {% if section.settings.text_decoration_type == 'color_text' %} text-link-color {% else %} text-link-underline {% endif %}">
            {{ section.settings.heading }}
        </h2>
    {%- endif -%}

    {% if section.settings.sub_heading != blank %}
        <div class="font-regular {{ section.settings.sub_heading_size }} {% if section.settings.text_decoration_type == 'color_text' %} text-link-color {% else %} text-link-underline {% endif %}">
            {{ section.settings.sub_heading }}
        </div>
    {% endif %}

    {% if section.settings.description != blank %}
        <div class="section__description font-regular {{ section.settings.description_size }} {% if section.settings.text_decoration_type == 'color_text' %} text-link-color {% else %} text-link-underline {% endif %}">
            {{ section.settings.description }}
        </div>
    {% endif %}

    {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="button {{ section.settings.button_style }} text-uppercase font-medium ">
            {{ section.settings.button_label }}
        </a>
    {% endif %}
</div>

{% schema %}
    {
        "name": "Description Content",
        "settings": [
            {
                "type": "select",
                "id": "text_decoration_type",
                "label": "Text Decoration Type",
                "options": [
                    {
                    "value": "underline_text",
                    "label": "Underline Text"
                    },
                    {
                    "value": "color_text",
                    "label": "Color Text"
                    }
                ],
                "default": "underline_text"
            },
            {
                "type": "richtext",
                "id": "heading",
                "label": "Heading",
                "default": "<p>Heading</p>"
            },
            {
                "type": "select",
                "id": "heading_size",
                "options": [
                    {
                        "value": "hxsm",
                        "label": "Extra Small"
                    },
                    {
                        "value": "h2",
                        "label": "t:sections.all.heading_size.options__1.label"
                    },
                    {
                        "value": "hsm-md",
                        "label":"Small to Medium"
                    },
                    {
                        "value": "h1",
                        "label": "t:sections.all.heading_size.options__2.label"
                    },
                    {
                        "value": "h0",
                        "label": "t:sections.all.heading_size.options__3.label"
                    },
                    {
                        "value": "hxl",
                        "label": "t:sections.all.heading_size.options__4.label"
                    },
                    {
                        "value": "hxxl",
                        "label": "t:sections.all.heading_size.options__5.label"
                    }
                ],
                "default": "h1",
                "label": "t:sections.all.heading_size.label"
            },
            {
                "type": "richtext",
                "id": "sub_heading",
                "default": "<p>Sub Heading</p>",
                "label": "Sub Heading"
            },
            {
                "type": "select",
                "id": "sub_heading_size",
                "options": [
                    {
                        "value": "text-body--small",
                        "label": "Small"
                    },
                    {
                        "value": "text-body--extra-small",
                        "label": "Extra Small"
                    },
                    {
                        "value": "text-body--extra-extra-small",
                        "label": "Extra Extra Small"
                    },
                    {
                        "value": "text-body--small-3",
                        "label": "Regular"
                    }
                ],
                "default": "text-body--small",
                "label": "Sub Heading Size"
            },
            {
                "type": "richtext",
                "id": "description",
                "label": "Description",
                "default": "<p>Enter your description here.</p>"
            },
            {
                "type": "select",
                "id": "description_size",
                "options": [
                    {
                        "value": "text-body--small",
                        "label": "Small"
                    },
                    {
                        "value": "text-body--extra-small",
                        "label": "Extra Small"
                    },
                    {
                        "value": "text-body--extra-extra-small",
                        "label": "Extra Extra Small"
                    },
                    {
                        "value": "text-body--small-3",
                        "label": "Regular"
                    }
                ],
                "default": "text-body--small-3",
                "label": "Description Size"
            },
            {
                "type": "text",
                "id": "button_label",
                "label": "Button Label"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            },
            {
                "type": "select",
                "id": "button_style",
                "label": "Button Style",
                "options": [
                    {
                        "value": "button--primary",
                        "label": "Button"
                    },
                    {
                        "value": "button--secondary",
                        "label": "Secondary Button"
                    },
                    {
                        "value": "button--tertiary",
                        "label": "Tertiary Button"
                    }
                ],
                "default": "button--primary"
            },
            {
                "type": "header",
                "content": "Section Style Settings"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "Top Padding",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "Bottom Padding",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "default": 0
            },
            {
                "type": "range",
                "id": "gap_between_items_on_mobile",
                "label": "Gap Between Items on Mobile",
                "min": 0,
                "max": 50,
                "step": 1,
                "unit": "rem",
                "default": 2
            },
            {
                "type": "range",
                "id": "gap_between_items_on_desktop",
                "label": "Gap Between Items on Desktop",
                "min": 0,
                "max": 50,
                "step": 1,
                "unit": "rem",
                "default": 2
            },
        ],
        "presets": [
            {
                "name": "Description Content"
            }
        ]
    }
{% endschema %}