{% style %}

    .section-{{ section.id }}{
        padding-top: {{ section.settings.top_padding }}px;
        padding-bottom: {{ section.settings.bottom_padding }}px;
    }

    .section__description{
        /* margin: 2rem 0; */
    }
    
{% endstyle %}


<div class="section-{{ section.id }} page-width">

    {%- if section.settings.heading != blank -%}
        <div class="text-link-underline-custom">
            <h2 class="h3">
            {{ section.settings.heading | strip_html | escape }}
            </h2>
        </div>
    {%- endif -%}

    <div class="section__description text-body--small-3 font-regular">

        {{ section.settings.description |  strip_html | escape }}

    </div>
</div>

{% schema %}
    {
        "name": "Description Content",
        "settings": [
            {
                "type": "inline_richtext",
                "id": "heading",
                "label": "Heading",
                "default": "Heading"
            },
            {
                "type": "richtext",
                "id": "description",
                "label": "Description",
                "default": "<p>Enter your description here.</p>"
            },
            {
                "type": "header",
                "content": "Section Style Settings"
            },
            {
                "type": "range",
                "id": "top_padding",
                "label": "Top Padding",
                "min": 0,
                "max": 100,
                "step": 4,
                "default": 0
            },
            {
                "type": "range",
                "id": "bottom_padding",
                "label": "Bottom Padding",
                "min": 0,
                "max": 100,
                "step": 4,
                "default": 0
            }
        ],
        "presets": [
            {
                "name": "Description Content"
            }
        ]
    }
{% endschema %}