{% comment %} '/cart' Page Footer {% endcomment %}

{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign promo_product_present = false %}
{% assign profit_on_promo_products = 0 %}

{% for item in cart.items %}

  {% liquid

    if item.variant.compare_at_price > item.variant.price

      # If atleast promo product is present,
      assign promo_product_present = true

      # Calculate profit on promo products
      assign original_price_with_quantity = item.variant.compare_at_price | times: item.quantity
      assign profit_on_promo_products = profit_on_promo_products | plus: original_price_with_quantity |  minus: item.original_line_price
    endif
  -%}
{% endfor %}

<div
  class="{% if cart == empty %} is-empty{% endif %}"
  id="main-cart-footer"
  data-id="{{ section.id }}"
>
  <div class="page-width cart-page">
    <div class="cart__footer isolate section-{{ section.id }}-padding">
      {%- if settings.show_cart_note -%}
        <cart-note class="cart__note field">
          <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
          <textarea
            class="text-area field__input"
            name="note"
            form="cart"
            id="Cart-note"
            placeholder="{{ 'sections.cart.note' | t }}"
          >{{ cart.note }}</textarea>
        </cart-note>
      {%- endif -%}

      <div class="cart__blocks">
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'subtotal' -%}
              <div class="js-contents totals-footer-cart-page" {{ block.shopify_attributes }}>
                {%- if cart.cart_level_discount_applications.size > 0 -%}
                  <div>
                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="discounts__discount discounts__discount--position">
                          {{- 'icon-discount.svg' | inline_asset_content -}}
                          {{ discount.title | escape }}
                          (-{{ discount.total_allocated_amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}

                <!-- Savings on PROMO -->
                {% if settings.show_savings_on_promo and promo_product_present  %}
                  {% if profit_on_promo_products > 0 %}
                    <div class="totals totals-savings {% if settings.show_separator_line_below_savings %} totals-savings-bottom-border {% endif %}">  
                      <span class="totals__savings text-capitalize font-medium">  
                        {{ 'sections.cart.savings_on_promos' | t: profit_on_promo_products: profit_on_promo_products }}
                      </span>  
                      <span class="h4 font-light">  
                        {{ profit_on_promo_products |  money }}
                      </span>  
                    </div>
                  {% endif %}
                {% endif %}

                <!-- Cart Total -->
                <div class="totals">
                  <div class="heading-with-note">
                    <span class="totals__total font-bold">
                      {{ 'sections.cart.estimated_total' | t }}
                    </span>
                    {% if cart.taxes_included %}
                      <span class="VAT-note">
                        {{ 'products.product.taxes_included_short' | t }}
                      </span>
                    {% endif %}
                  </div>
                  <p class="totals__total-value font-bold">{{ cart.total_price |  money }}</p>
                </div>

                <!-- Subtotal without Tax -->
                {% if settings.show_subtotal_in_cart %}
                  <div class="totals totals-subtotal">
                    <div class="heading-with-note">
                      <span class="totals__subtotal font-medium no-default-spacing"> 
                        {{ 'sections.cart.subtotal' | t }}
                      </span>
                      {% if cart.taxes_included %}
                        <span class="VAT-note">
                          {{ 'products.product.taxes_excluded' | t }}
                        </span>
                      {% endif %}
                    </div>
                    {% assign sub_total = cart.total_price | divided_by: 1.21 %}
                    {% assign tax_custom = cart.total_price | minus:sub_total %}
                    <span class="h4 font-semibold">
        
                      {{ sub_total | money }}
          
                      <span class="text-body--extra-small font-regular visually-hidden">
                        {{ tax_custom | money }}
                      </span>
                    </span>
                  </div>
                {% endif %}

                {% if section.settings.show_tax_note %}
                  <small class="tax-note caption-large rte">
                    {%- if cart.duties_included and cart.taxes_included -%}
                      {%- if shop.shipping_policy.body == blank -%}
                        {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t }}
                      {%- else -%}
                        {{
                          'sections.cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html'
                          | t: link: shop.shipping_policy.url
                        }}
                      {%- endif -%}
                    {%- elsif cart.duties_included == false and cart.taxes_included -%}
                      {%- if shop.shipping_policy.body == blank -%}
                        {{ 'sections.cart.taxes_included_shipping_at_checkout_without_policy' | t }}
                      {%- else -%}
                        {{
                          'sections.cart.taxes_included_shipping_at_checkout_with_policy_html'
                          | t: link: shop.shipping_policy.url
                        }}
                      {%- endif -%}
                    {%- elsif cart.duties_included and cart.taxes_included == false -%}
                      {%- if shop.shipping_policy.body == blank -%}
                        {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
                      {%- else -%}
                        {{
                          'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html'
                          | t: link: shop.shipping_policy.url
                        }}
                      {%- endif -%}
                    {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
                      {%- if shop.shipping_policy.body == blank -%}
                        {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
                      {%- else -%}
                        {{
                          'sections.cart.taxes_at_checkout_shipping_at_checkout_with_policy_html'
                          | t: link: shop.shipping_policy.url
                        }}
                      {%- endif -%}
                    {%- endif -%}
                  </small>
                {% endif %}
              </div>
            {%- else -%}
              <div class="cart__ctas" {{ block.shopify_attributes }}>
                <button
                  type="submit"
                  id="checkout"
                  class="cart__checkout-button button font-semibold text-uppercase"
                  name="checkout"
                  {% if cart == empty %}
                    disabled
                  {% endif %}
                  form="cart"
                >
                  {{ 'sections.cart.checkout' | t }}
                </button>
              </div>

              {%- if additional_checkout_buttons -%}
                <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
          {%- endcase -%}
        {% endfor %}

        <div id="cart-errors"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_tax_note",
      "label": "Show tax note",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
